@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  section {
    @apply py-[50px];
  }
}

@layer components {
  .container {
    @apply max-w-full w-[1440px] px-5 mx-auto;
  }
  .btn {
    @apply bg-primaryColor py-[15px] px-[35px] rounded-[50px] text-white font-[600] mt-[38px];
  }

  .heading {
    @apply text-[44px] leading-[54px] font-[700] text-headingColor;
  }
  .text__para {
    @apply text-[18px] leading-[30px] font-[400] text-textColor mt-[18px];
  }
  .header {
    @apply bg-[url('./assets/images/mask.png')] bg-no-repeat bg-center bg-cover w-full h-[100px] leading-[100px];
  }
  .hero__section {
    @apply bg-[url('./assets/images/hero-bg.png')] bg-no-repeat bg-center bg-cover;
  }
}

@media only screen and (max-width: 1440px) {
  .customButton {
    top: 20%;
    bottom: -40%;
    left: 20%; /* Add left property directly */
    position: relative;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    @apply max-w-full w-[1024px] px-5 mx-auto;
  }
  section {
    @apply py-[35px];
  }
  .hero__section > .container > .flex {
    @apply flex-col justify-center items-center gap-[30px];
    margin-left: 50px;
  }

  .hero__section .text-container {
    @apply w-full max-w-md;
  }
  .mingle_section {
    @apply w-1/4;
  }

  .call_container {
    @apply w-full;
  }
  .personal_code_copy {
    @apply flex-col;
  }
}

@media only screen and (max-width: 768px) {
  .heading {
    @apply text-[26px] leading-[36px];
  }
  .text__para {
    @apply text-[16px] leading-7 mt-3;
  }
  .dashboard_container {
    @apply w-full;
  }
  .videos_placeholder {
    @apply w-full sm:w-[400px] md:w-[600px];
  }
  .call_container {
    @apply ml-[23px];
  }
  .messenger_container {
    @apply ml-[15px];
  }
}
